.body {
  padding: 30px 0px 0px 30px;

  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.bubble {
  font-family: 'Merriweather', serif;

  span {
    vertical-align: middle;
  }
}

.counter {
  font-size: 1.5em;
  color: rgba(255, 0, 0, 0.5);
}
