.body {
  padding-bottom: 50px;
  max-width: 960px;
  margin: 0px auto;

  @media only screen and (max-width: 767px) {
    padding-bottom: 0px;
  }
}

.body__wrapper {
  padding: 0px 5px;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @media only screen and (max-width: 767px) {
    padding: 0px;
  }
}
